:root {
  --primary-color: #2a2a2a;
  --secondary-color: #0DD98E;
  --tertiary-color: #c4c4c4;
}

* { 
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* box-sizing: border-box; */
}

*::-webkit-scrollbar {
  display: none;
}